<!-- Composant générique pour le chargement et les erreurs -->
<app-loading-error
[loading]="loading"
[error]="error"
[dataAvailable]="!!(participations$ | async)?.length"
>
  <!-- Contenu affiché après le chargement réussi -->
  <div class="headline">
    <h2 class="headline-title">{{ countryName }}</h2>
  </div>

  <div class="home-data">
    <div class="data-card">
      <p class="value">{{ totalParticipations }}</p>
      <p class="label">Number of entries</p>
    </div>

    <div class="data-card">
      <p class="value">{{ totalNumberofMedals }}</p>
      <p class="label">Total Number of Medals</p>
    </div>

    <div class="data-card">
      <p class="value">{{ totalNumberofAthletes }}</p>
      <p class="label">Total Number of Athletes</p>
    </div>
  </div>

  <div class="line-chart-container">
    <app-line-chart
      [participations]="(participations$ | async) || []"
    ></app-line-chart>
  </div>
</app-loading-error>

<app-back-home-button></app-back-home-button>
