<div class="line-chart">
  <ngx-charts-line-chart
    [results]="chartData"
    [scheme]="'cool'"
    [xAxis]="true"
    [yAxis]="true"
    [legend]="true"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    [xAxisLabel]="'Year'"
    [autoScale]="true"
    [animations]="true"
    [timeline]="true"
  >

  <!-- Tooltip personnalisé -->
      <ng-template #tooltipTemplate let-model="model">
        <div class="tooltip-content">
          <i class="fa-solid fa-award"></i>
          {{ model.value }}
          {{ model.city }}
        </div>
      </ng-template>

</ngx-charts-line-chart>

  <ng-template #noDataTemplate>
    <p>No data available to display on graph.</p>
  </ng-template>




