@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap");

// Palette de couleurs
$primary-color: #04828e;
$secondary-color:  #ffffff;
$accent-color: #9a9698;
//$background-color: #ffffff;

// Styles globaux
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0 20;
  background-color: $secondary-color;
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: $primary-color;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
}

.headline {
  display: flex;
  justify-content: center;
}

.headline-title {
  color: $secondary-color;
  background-color: $primary-color;
  border-radius: 10px;
  margin-bottom: 2rem;
  padding: 0.5rem;
}

p {
  margin: 0;
}

.main-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.home-data {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.data-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  border: 1.5px solid $primary-color;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  width: auto;
}

.label {
  font-size: 0.9rem;
  color: $accent-color;
  margin-bottom: 0.5rem;
}

.value {
  font-size: 1.5rem;
  font-weight: bold;
  color: $primary-color;
}
