//@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
// _global.scss
//@import './variables';

// _variables.scss
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

// Variables de couleurs
$primary-color: #00797d; // Vert sarcelle
$secondary-color: #5b2b2d; // Rouge foncé
$light-gray: #f4f4f4;
$dark-gray: #333333;

// Couleurs pour les graphiques
$chart-line-colors: (
  #c7d2fe,
  #a7b4f0,
  #8b95d8,
  #716ac4,
  $primary-color
);

// Styles globaux
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  background-color: $light-gray;
  color: $dark-gray;
}

// Titres
h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin: 0;
  color: $primary-color;
}

.section-title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 16px;
}

// Conteneur de graphique
.chart-container {
  margin-top: 24px;

  .chart-title {
    font-size: 20px;
    text-align: center;
    color: $primary-color;
  }
}

// Grilles responsives
.grid {
  display: grid;
  gap: 16px;

  &--3-cols {
    grid-template-columns: repeat(3, 1fr);

    @media (max-width: 768px) {
      grid-template-columns: 1fr; // Passage à une colonne sur mobile
    }
  }
}