:host {
    display: block;
    width: 100%; 
    max-width: 100%; 
    margin: 0 auto; 
  }
  
  .pie-chart-container {
    width: 100%; 
    height: auto; 
  }

  .tooltip-container {
    display: flex;
    align-items: center;
    font-size: 14px;
  }
  
  .tooltip-container mat-icon {
    margin-right: 8px;
  }