@import "../tooltip/tooltip.component.scss";
@import "../../../styles.scss";

$chart-pie-colors: (#ffcccb, #90ee90, #add8e6, #9370db, #ffdead);

.pie-chart-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;

  ngx-charts-pie-chart {
    width: 500px;
    height: 500px;
  }
}