<div *ngIf="(chartData ?? []).length > 0; else noData">

  <div class="pie-chart-container">
    <ngx-charts-pie-chart 
      [view]="view" 
      [results]="chartData" 
      (select)="onCountrySelect($event)"
    ></ngx-charts-pie-chart>

    <ng-template #tooltipTemplate let-model="model">
      <TooltipComponent 
      [country]="model.name" 
      [medalsCount]="model.value"
      ></TooltipComponent>
    </ng-template>
  </div>
  
</div>

<ng-template #noData>
  <p>No data available for the chart.</p>
</ng-template>